.jumbotron {
    background-image: url("jumbotron_bg.jpg");
    background-size: cover;
    color: white;
}

.sidebar {
    height: 70px;
    width: 300px;
    position: -webkit-sticky; /* for Safari users */
    position: sticky;
    top: 300px;
    float: left;
    margin-top: 100px;
    margin-left: 20px;
    padding-top: 30px;
    
    
    }
    
    .sidebar div {
    padding: 8px;
    font-size: 24px;
    display: block;
    }
    
    .body-text {
    margin-left: 150px;
    font-size: 18px;
    
    }
